*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: rgb(28, 27, 27);
    color: rgb(204, 21, 82);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}
.display{
    font-size: 50px;
    font-weight: bold;
}
.button{
    margin-top: 20px;
}
.btn{
    font-size: 20px;
    background: pink;
    border: none;
    padding: 10px 20px;
    margin-inline: 12px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 2px 2px rgb(136, 11, 84);
} 

